@{
    ViewBag.Title = "Soluções";
}
<div class="row">
    <div class="col-md-3">
        <h2>DNA Tecnológico e Inovador</h2>
        <h4>  Conheça nossos produtos</h4>
    </div>
    <div class="col-md-3">
        <h2>CRM</h2>
        <ul>
            <li><a href="https://www.agendor.com.br/blog/software-de-crm/">Principais funcionalidades de um bom software de CRM</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Inteligência Artificial</h2>
        <ul>
            <li><a href="https://www.isbrasil.info/blog/softwares-de-inteligencia-artificial.html">Tecnologias de Inteligência Artificial</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>ERP</h2>
        <ul>
            <li><a href="https://gestaoclick.com.br/erp">ERP para Pequenas e Médias Empresas</a></li>
        </ul>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/images/CRM.jpg" alt="...">
            <div class="caption">
                <h3>CRM</h3>
                <p>
                    Quando uma empresa está começando, controlar os e clientes usando planilhas e agendas é possível, ainda que seja comum perder tempo e oportunidades no processo.
À medida que a empresa crescer, no entanto, esse tipo de ferramenta improvisada vai se tornando cada vez mais um empecilho para o sucesso da empresa. Planilhas são difíceis de atualizar, interpretar e compartilhar com o time; anotações e emails acabam perdidos; a comunicação entre vendedores fica prejudicada.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/images/inteligencia.jpg" alt="...">
            <div class="caption">
                <h3>Inteligência Artificial</h3>
                <p>
                    Biometria: esse tipo de software de AI possibilita interações mais naturais entre humanos e máquinas, além de reconhecimento de imagem e toque, fala e linguagem corporal.
                    Automação de processos robóticos: usando scripts e outros métodos para automatizar a ação humana, esses softwares de inteligência artificial criam suporte a projetos de negócio eficientes.
                    A inteligência artificial consiste em um ramo da ciência e da informática que tem como objetivo a criação de máquinas inteligentes. Ela se propõe a desenvolver máquinas que tenham a habilidade de pensar e agir como seres humanos, não necessariamente com um “corpo físico”.
                </p>
            </div>
        </div>
    </div>
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img src="~/images/Erp.png" alt="...">
        <div class="caption">
            <h3>ERP</h3>
            <p>
                Você é daqueles gestores que usa o método “tradicional” de anotar tudo com papel e caneta? A gestão da sua empresa não é digital? Pois saiba que você está complicando a gestão e perdendo uma oportunidade de ouro.
                Hoje em dia existem Sistema ERP completos e integrados, que facilitam a gestão de qualquer negócio, agilizam o serviço e aumentam a produtividade. Um sistema de gestão empresarial é um programa que integra todos os dados e processos de um negócio no mesmo sistema de forma automatizada e organizada.
            </p>
        </div>
    </div>
</div>

